body{
    margin: 0;
    padding: 0;
    background-color: #e9eaea;
}
#header{
    position: relative;
    background-color: #f7b602;
    overflow: hidden;
    height: 54px;
}
.header-em{
    position: absolute;
    height: 34px;
    width: 34px;
    padding: 10px;
    font-size: 32px;
}
#home{
    left: 0; 
    bottom: 0;
}
#search_text{
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 68%;
    font-size: 150%;
    padding-top: 10px;
}
#search_btn{
    right: 0;
    bottom: 0;
}
#search{
    display: block;
    font-size: 16px;
    height: 29px;
}
.hidden{
    display: none;
    visibility: hidden;
}
.main-container{
    margin: 0 auto;
    padding: 10px 5px;
}
.main-container .foods, .profile {
    width: 100%;
}

.search-container {
    display: flex;
}
.search-bar {
    width: 80%;
    border: 1px solid #fff;
    font-size: 18px;
    height: 100%;
    padding: 16px;
}
.search-button {
    width: 20%;
    background-color: #fff;
    border: 1px solid #fff;
    margin: 0 5px;
    font-size: 18px;
    color: #777;
    padding: 16px;
}
.search-button:hover {
    cursor: pointer;
}

#loading-icon{
    display: block;
    margin: 20vh auto;
    text-align: center;
    font-size:36px;
}

.food-item {
    width: calc(100% - 24px);
    margin-top: 10px;
    padding: 12px 10px 5px;
    display: flex;
    justify-content: space-between;
    background-color: #fff; 
}
.food-item:hover {
    background-color: #d1d7fc;
    cursor: pointer; 
}
.food-item .food-name {
    width: 60%; 
}
.food-item .food-item-calories {
    text-align: right; 
}
.food-item .food-action {
    display: none; 
}

.profile-item .fa-trash {
    margin: 0;
    color: #bbb;
    font-size: 22px; 
}
.profile-item .food-action {
    display: flex;
    align-items: center; 
}
.profile-item:hover {
    background-color: #fff;
    color: #666;
    cursor: default;
}
.profile-item .fa-trash:hover {
    color: #666;
    cursor: pointer; 
}

@media (min-width: 768px) {
    .navigation {
      display: none; }
    .main-container {
      padding-top: 20px; }
      .main-container .foods {
        margin-right: 4px;
        display: block; }
      .main-container .profile {
        margin-left: 4px;
        display: block;
        visibility: visible; }
      .main-container .profile-foods {
        overflow-y: scroll;
        height: 70vh; }
      .main-container .search-container {
        margin-bottom: 8px; }
      .main-container .food-search-results {
        overflow-y: scroll;
        height: 87vh; } }

@media (min-width: 992px) {
    .main-container {
        width: 970px;
        display: flex;
    }
}